* {
    color: rgb(0, 0, 0);
}

body {
    background: linear-gradient(rgb(29, 117, 76), rgb(36, 128, 128));
}

#titulo1 {
    color: #c52424;
    font-size: 60px;
    text-align: center;
}

#titulo2 {
    color: #ffffff;
    font-size: 50px;
}
#titulo3 {
    color:#ffffff;
    font-size: 35px;
}

#titulo4, #titulo5 {
    color:rgb(255, 255, 255);
}

#titulo6 {
    color: #ffffff;
    font-size: 35px;
}

#texto1 {
    font-size: 19.5px;
}

td {
    text-align: center;
}

a {
    color:cyan;
    text-decoration: none;
}

table {
    margin: auto;
    border: rgb(255, 174, 0);
}

ul {
    list-style-type: style type discl;
}

li {
    color: rgb(255, 255, 255);
    font-size: 19.5px;
}

span {
    font-size: 20px;
    color: rgb(165, 0, 0)
}