* {
    color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

body {
    background: linear-gradient(to top right, rgb(206, 134, 2), rgb(105, 206, 172));
}

header {
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    background: linear-gradient(to top right, green, black, green);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    display: flex;
    font-family: cursive;
    letter-spacing: 3px;
    font-size: xx-large;
    color: white;
    text-decoration: none;
}

.titulo1 {
    padding-top: 10px;
    text-align: center;
    font-size: 60px;
    color: indigo;
}

.titulo2 {
    margin: 20px;
    font-size: 50px;
    color: indigo;
}

.descripcion {
    margin: 20px;
    border: 3px solid gray;
    border-radius: 20px;
}

p {
    font-family: sans-serif;
    margin: 20px;
    font-size: 25px;
}

.titulo3 {
    margin: 20px;
    font-size: 40px;
    color: indigo;
}

.trailer {
    border: 5px solid white;
}

span {
    font-family: sans-serif;
    font-size: 25px;
    color: rgb(132, 0, 255);
}

li {
    font-family: sans-serif;
    margin: 27px;
    font-size: 24px;
}

.titulo4 {
    margin: 20px;
    font-size: 35px;
    color: indigo;
}

input {
    font-size: 20px;
}

.formulario {
    right: 50%;
    font-size: 28px;
    text-align: center;
    border: 2px solid blue;
}