body {
    background: linear-gradient(rgb(146, 146, 146), rgb(53, 53, 53));
}

.imagen {
    border: 4px solid aquamarine;
    position: absolute;
    margin: 15px;
    right: 0;
    top: 0;
    width: 700px;
}

.titulo1 {
    text-align: center;
    font-size: 80px;
}