* {
    color: black;
}

body {
    background: linear-gradient(rgb(255, 136, 0), rgb(40, 136, 104));
}

.title1 {
    color: indigo;
    font-size: 40px;
    text-align: left;
}

.title2 {
    color: indigo;
    font-size: 40px;
    text-align: center;
}

.title3 {
    color: indigo;
    font-size: 35px;
}

.text {
    font-size: 25px;
}

a {
    text-decoration: none;
}

#nav {
    font-size: 20px;
    text-align: center;
}

.links-nav {
    padding: 15px;
}

#tabla {
    border-color: lightseagreen;
    border-radius: 20px;
    padding: 20px;
}

li {
    font-size: 23px;
}

span {
    color: rgb(111, 0, 255);
}